<ion-header>
  <ion-toolbar style="--background: rgb(44, 70, 105)">

    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" (click)=gotoPreviousPage() defaultHref="/home" style="color:rgb(203, 177, 131)"></ion-back-button>
      </ion-button>

      <ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <!-- <img src="..\..\assets\vm_logo-04.png"> -->
      <img src="http://www.carbongeotech.com/vendmoi/assets/vm_logo-04.png">
    </ion-title>

    <ion-buttons slot="end">
      <!--  <ion-button tappable routerLink="/home">
        <ion-icon slot="icon-only" name="home" style="color:rgb(203, 177, 131)"></ion-icon>
      </ion-button>
      -->

    <ion-button tappable routerLink="/shopping-cart/">
        <ion-badge>{{ qtyItems }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color:rgb(203, 177, 131)"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
    <ion-card *ngIf="product">
       <!-- <ion-item class="avatar">
          <ion-avatar item-start>
              <img [src]="..\..\assets\imgs\{{product?.img1}}">
              <img src="..\..\assets\imgs\{{product?.img1}}">
            </ion-avatar>
          <h2 class="title">{{ product?.title }}</h2>
        </ion-item> -->
      
        <ion-item>
          <!-- <img src="..\..\assets\imgs\{{product?.img1}}"> -->
          <img src="http://www.carbongeotech.com/vendmoi/assets/imgs/{{product?.img1}}">
        </ion-item>
                
        <ion-card-content>
          <h1>{{product.name}}</h1>
          <p>{{product.description}}</p>
          <p>THC {{product.THC}}%</p>
          <p>CBD {{product.CBD}}%</p>
          <p>Manufacturer: {{product.mnf}}</p>
          <p>Price: {{product.priceString}}</p>
          <div> <!--class="button-bar bar-stable">-->
            <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=addToCart()>Add to Cart +</ion-button>
            <ion-button  style="color:rgb(203, 177, 131); --background:rgb(124, 245, 124);" block outline> {{qtyInCart}} </ion-button>
            <ion-button class="button" (click)=removeFromCart() style="color:rgb(203, 177, 131); --background:rgb(235, 72, 72);">- Remove</ion-button>
          </div>
          <p>Sub Total for this Item = {{itemsPrice | currency:'USD':'symbol'}}</p>
        </ion-card-content>
      
      <!--
        'id': string;
        'description': string;
        'name': string;
        'CBD': string;
        'THC': string;
        "rating": string;
        "price": string;
        "type": string;
        "mnf": string;
        "img1": string;
      -->      
      
      <ion-row>
          <ion-item>
          <ion-button icon-left clear small class="action-button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);">
            <ion-icon style="color:rgb(203, 177, 131);" name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </ion-button>
          <ion-button icon-left clear small style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);">
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </ion-button>
          <ion-note slot="end">
              11h ago
          </ion-note>
          </ion-item>
        </ion-row>
      
      </ion-card>
</ion-content>

<!--
<ion-footer>
  <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
      <ion-buttons slot="end">
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none;"></iframe></div>
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none; padding-left: 5px;"></iframe></div>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
-->