<ion-header>
    <ion-toolbar style="--background: rgb(44, 70, 105)">
      <ion-buttons>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" style="color:rgb(203, 177, 131)"></ion-back-button>
        </ion-buttons>
          <ion-button slot="secondary">
          <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button>
        <ion-title>
        <!-- <img src="..\..\assets\logoName-01.jpg"> -->
        <img src="http://www.carbongeotech.com/vendmoi/assets/logoName-01.jpg">
        </ion-title>
        <ion-button slot="end" tappable routerLink="">
            <ion-icon slot="icon-only" name="home" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <!-- <img src="..\..\assets\VM_marker-03.jpg"> -->
  <img src="http://www.carbongeotech.com/vendmoi/assets/VM_marker-03.jpg">

  <ion-list>
    <ion-item lines="none">
      <ion-label position="stacked">Username or Phone #</ion-label>
      <ion-input class="input" type="text" placeholder="Username or Phone #"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label" position="stacked">Password</ion-label>
      <ion-input class="input" placeholder="Enter Password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button tappable routerLink="">Login</ion-button>
</ion-content>
