<ion-header>
  <ion-toolbar style="--background: rgb(44, 70, 105)">

    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="/home" style="color:rgb(203, 177, 131)"></ion-back-button>
      </ion-button>

      <ion-menu-button>
        <ion-button>
        <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
<!--        <img src="..\..\assets\vm_logo-04.png"> -->
      <img src="http://www.carbongeotech.com/vendmoi/assets/vm_logo-04.png">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button tappable routerLink="/home">
          <ion-icon slot="icon-only" name="home" style="color:rgb(203, 177, 131)"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <img src="..\..\assets\VM_marker-03.jpg"> -->
  <img src="http://www.carbongeotech.com/vendmoi/assets/VM_marker-03.jpg">

  <div class="group">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">Username or Phone #</ion-label>
        <ion-input [(ngModel)]="userName" class="input" type="text" placeholder="John Doe"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password" class="input" placeholder="password_"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <ion-card>
    <ion-item>
      <ion-checkbox value="ageVerified" (click)=checkAgeVerify()></ion-checkbox>
      <ion-label text-wrap>
        You must be 21 years of age to enter and make purchases from this site.  
        Please check this box to verify that you are at least 21 years of age.
      </ion-label>
    </ion-item>
  </ion-card>
  <div *ngIf="(ageVerified); else notShow">
    <ion-button class="cbutton" tappable routerLink="/home">Login</ion-button>
  </div>
  <ng-template #notShow>
    <ion-button class="cbutton2" color="medium">Login</ion-button>
  </ng-template>
</ion-content>
