.input {
    display: block;
    padding: 10px 8px 10px 8px;
    margin-top: 10px;//width:240px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
    border: 1px solid #336;
    position: absolute;
    left: 0px;
    top: 15px;
    width: 300px;
    height: 30px;
}

.group  {
    //border: 3px rgb(86, 10, 10) solid;
    //padding: 3px;
    //display: block;        
    //border-radius: 15px;
}   

.cbutton {
    padding: 5px;
    margin: auto;
    display: block;
    width: 50%;
    //box-align: center;
    //align-content: center;
    //align-items: center;
}

.cbutton2 {
    padding: 5px;
    margin: auto;
    display: block;
    width: 50%;
    fill: clear;
    background-color: yellow;
}
  
#rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
}

#container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}
