<ion-header>
  <ion-toolbar style="--background: rgb(44, 70, 105)">
    
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="/home" style="color:rgb(203, 177, 131)"></ion-back-button>
      </ion-button>

      <ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      <!-- <img style="padding: 12px;" src="..\..\assets\vm_logo-04.png"> -->
      <img style="padding: 12px;" src="http://www.carbongeotech.com/vendmoi/assets/vm_logo-04.png">
    </ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button tappable routerLink="/home">
          <ion-icon slot="icon-only" name="home" style="color:rgb(203, 177, 131)"></ion-icon>
      </ion-button>
      -->

      <ion-button tappable routerLink="/shopping-cart/">
        <ion-badge style="--background:rgb(203, 177, 131); color:rgb(44, 70, 105);">{{ qtyItems }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color:rgb(203, 177, 131); padding:9px;"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <b>Hello shopper.</b><br/>
</ion-item>
<ion-item>
  <div *ngIf="(qtyItems > 0 && ageVerified); else notShow">
    Cart Sub Total for {{qtyItems}} Item(s) = {{ totalCost | currency:'USD':'symbol' }}.
    <ion-button block tappable routerLink="/check-out" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);">Proceed To Checkout</ion-button>
  </div>
  <ng-template #notShow>
      <div *ngIf="(ageVerified); else notAge">
        <p>You have no items in your cart.</p>
      </div>
      <ng-template #notAge>
        Please verify your age and login to checkout
        <ion-button block tappable routerLink="/login"  style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);">Login</ion-button>
      </ng-template> 
  </ng-template>
</ion-item>

<ion-list>
  <div *ngFor="let item of cartProducts; index as i" detail="true">
    <ion-card>
      <ion-card-content>
        <ion-item class="item-avatar">
          <!-- <img src="..\..\assets\imgs\{{item.img1}}" tappable routerLink="/product-detail/{{ item.id }}"> -->
          <img src="http://www.carbongeotech.com/vendmoi/assets/imgs/{{item.img1}}" tappable routerLink="/product-detail/{{ item.id }}">
        </ion-item>
        <h3>{{item.name}}</h3>
        <p>THC {{item.THC}}</p>
        <p>CBD {{item.CBD}}</p>
        <p>{{item.priceString}}</p>
        <p>Item Price = {{item.priceString}}</p>
        <p>Price: {{item.price | currency:'USD':'symbol'}} x {{cartItems[i].quantity}} = {{itemTotal[i] | currency:'USD':'symbol'}}</p>
 
        <div> <!--class="button-bar bar-stable">-->
          <ion-button class="button" (click)=addToCart(item)  style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);">Add to Cart +</ion-button>
          <ion-button block outline  style="color:rgb(203, 177, 131); --background:rgb(124, 245, 124);"> {{cartItems[i].quantity}} </ion-button>
          <ion-button class="button" (click)=removeFromCart(item)  style="color:rgb(203, 177, 131); --background:rgb(235, 72, 72);">- Remove</ion-button>
        </div>
<!--      <ion-buttons>
            <ion-button class="button" (click)=addToCart(item)>Add to Cart +</ion-button>
            <ion-button>{{cartItems[i].quantity}}</ion-button>
            <ion-button (click)=removeFromCart(item)>- Remove from Cart</ion-button>
          </ion-buttons>
    -->
    </ion-card-content>
  </ion-card>
</div>
</ion-list>

</ion-content>
