<ion-header>
  <ion-toolbar class="themeColor" style="color:rgb(44, 70, 105);">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button> 
      </ion-menu-button> 
    </ion-buttons>

    <ion-title>
      <!--  <img style="padding: 12px;" src="..\..\assets\vm_logo-04.png"> 
      <img style="padding: 12px;" src="http://www.carbongeotech.com/vendmoi/assets/vm_logo-04.png"> -->
      <img style="padding: 12px;" src="https://iowagrade.github.io/vendmoi/assets/vm_logo-04.png">
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button tappable routerLink="/shopping-cart/">
        <ion-badge style="--background:rgb(203, 177, 131); color:rgb(44, 70, 105);">{{ qtyItems }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color:rgb(203, 177, 131); padding:9px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-buttons>
    <ion-button class="button" (click)=toggleScan() [fill]="arToggle?'solid':'outline'" style="color:rgb(44, 70, 105)">{{ scanStatus }}</ion-button>
  <!--
    <div *ngIf="(loggedIn); else notLoggedIn">
        <ion-button class="buttonRight">{{userName}} logged In</ion-button>
    </div>
    <ng-template #notLoggedIn>
      <ion-button class="buttonRight" tappable routerLink="/login/" style="color:rgb(44, 70, 105)">Login</ion-button>
    </ng-template>
  -->
  </ion-buttons>

  <div class="scanImage" id ="scanImage">
    <!-- <img src="..\..\assets\THCCBDWallpaper-01.jpg" width="100%" height="100%"> -->
    <img width="100%" height="100%" src="https://iowagrade.github.io/vendmoi/assets/THCCBDWallpaper-01.jpg">
  </div>
  <canvas id="scan-canvas"></canvas>
  <div id="aCanvas"> </div>

  <!--    
      <img width="100%" height="256px" src="..\..\assets\THCCBDWallpaper-01.jpg">
  
  <div class="aCanvas" *ngIf="(scanWindowStatus==0)">
  </div>
  <div class="aCanvas" *ngIf="(scanWindowStatus==1)">
  </div>
  <div class="aCanvas" *ngIf="(scanWindowStatus==2)">
  </div>
     <img width="100%" height="256px" src="http://www.carbongeotech.com/vendmoi/assets/THCCBDWallpaper-01.jpg">
    <img width="100%" height="256px" src="https://iowagrade.github.io/vendmoi/assets/THCCBDWallpaper-01.jpg"> -->
<!--
  <div width="100%" height="256px" *ngIf="(bShowScanWindow); else notShow">
    <iframe position="absolute" left="0" top="0" width="100%" height="100%" allow="camera;microphone" sandbox="allow-same-origin allow-scripts allow-modals" class="theCanvas" src="../../assets/iframe-ar.html"></iframe>
  </div>

  <ng-template #notShow>
  -->    <!--    <img width="100%" height="256px" src="..\..\assets\THCCBDWallpaper-01.jpg">
    <img width="100%" height="256px" src="http://www.carbongeotech.com/vendmoi/assets/THCCBDWallpaper-01.jpg"> -->
<!--    <img width="100%" height="256px" src="https://iowagrade.github.io/vendmoi/assets/THCCBDWallpaper-01.jpg">
  </ng-template>
-->

  <div style="text-align:center;">
      <ion-button tappable routerLink="/map/" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105)">
          <ion-icon slot="icon-only" name="pin" style="color:rgb(203, 177, 131)"></ion-icon>
          Choose Shopping Locale
        </ion-button>  
  </div>

  <div style="text-align:center; overflow:hidden; overflow-x:auto; width:100%;">
    <ion-row nowrap style="align-items: center; text-align: center;">
    <div *ngIf="(flowersToggle); else notFlowers">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleFlowers()>Flowers</ion-button>
    </div>
    <ng-template #notFlowers>
        <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleFlowers()>Flowers</ion-button>
    </ng-template> 
     
    <div *ngIf="(ediblesToggle); else notEdibles">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleEdibles()>Edibles</ion-button>
    </div>
    <ng-template #notEdibles>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleEdibles()>Edibles</ion-button>
    </ng-template> 

    <div *ngIf="(extractsToggle); else notExtracts">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleExtracts()>Oils</ion-button>
    </div>
    <ng-template #notExtracts>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleExtracts()>Oils</ion-button>
    </ng-template> 

    <div *ngIf="(accessoriesToggle); else notAccessories">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleAccessories()>Accessories</ion-button>
    </div>
    <ng-template #notAccessories>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleAccessories()>Accessories</ion-button>
    </ng-template> 
  
    <div *ngIf="(pawsToggle); else notPaws">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=togglePaws()>Paws</ion-button>
    </div>
    <ng-template #notPaws>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=togglePaws()>Paws</ion-button>
    </ng-template> 
    </ion-row>
  </div>

  <ion-content>
    <ion-list-header>
    <ion-label style="font-size:20px">Products</ion-label>
  </ion-list-header>
  <ion-list>
    <div *ngFor="let product of products" detail="true" tappable routerLink="/product-detail/{{ product.id }}">
      <div *ngIf="(((product.type === 'FL') && flowersToggle) || ((product.type === 'ED') && ediblesToggle) ||
                  ((product.type === 'EX') && extractsToggle) || ((product.type === 'AC') && accessoriesToggle) ||
                  ((product.type === 'PA') && pawsToggle))">
     <!--   <ion-item class="item item-avatar"> -->
        <ion-item>
          <ion-grid>
            <ion-row>
            <!-- <img width="100" height="60" src="..\..\assets\imgs\{{product.img1}}">
            <img width="100" height="60" src="http://www.carbongeotech.com/vendmoi/assets/imgs/{{product.img1}}"> -->
            <img width="60" height="60" src="https://iowagrade.github.io/vendmoi/assets/imgs/{{product.img1}}">

            <ion-col col=25><h3>{{product.name}}</h3></ion-col>
            <div class="column-space1"></div>
            <div class="column-middle">
              <div *ngIf="(product.type != 'AC')">
                <p>THC {{product.THC}}%</p>
                <p>CBD {{product.CBD}}%</p>
              </div>
            </div>
            <div class="column-space"></div>
            <div class="column-right">
                <p>{{product.priceString}}</p>
            </div>
    <!--  <div class="container">  
            <div class="column-left"><h3>{{product.name}}</h3></div>
            <div class="column-space1"></div>
            <div class="column-middle">
              <div *ngIf="(product.type != 'AC')">
                <p>THC {{product.THC}}%</p>
                <p>CBD {{product.CBD}}%</p>
              </div>
            </div>
            <div class="column-space"></div>
            <div class="column-right">
                <p>{{product.priceString}}</p>
            </div>
          </div>
        -->
        </ion-row>
        </ion-grid>
        </ion-item>
      </div>
    </div>
  </ion-list>

</ion-content>