<ion-header>
  <ion-toolbar class="themeColor" style="color:rgb(44, 70, 105);">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button> 
      </ion-menu-button> 
    </ion-buttons>

    <ion-title>
<!--        <img src="..\..\assets\vm_logo-04.png"> -->
      <img style="padding: 12px;" src="http://www.carbongeotech.com/vendmoi/assets/vm_logo-04.png">
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button tappable routerLink="/shopping-cart/">
        <ion-badge style="--background:rgb(203, 177, 131); color:rgb(44, 70, 105);">{{ qtyItems }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color:rgb(203, 177, 131); padding:9px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <ion-button class="button" (click)=toggleAR() [fill]="arToggle?'solid':'outline'" style="color:rgb(44, 70, 105)">View AR Window</ion-button>
  <!--
    <div *ngIf="(loggedIn); else notLoggedIn">
        <ion-button class="buttonRight">{{userName}} logged In</ion-button>
    </div>
    <ng-template #notLoggedIn>
      <ion-button class="buttonRight" tappable routerLink="/login/" style="color:rgb(44, 70, 105)">Login</ion-button>
    </ng-template>
  -->
  </ion-buttons>


  <div *ngIf="(arToggle); else notShow">
    <iframe allow="camera;microphone" sandbox="allow-same-origin allow-scripts" class="theCanvas" src="../../assets/iframe-ar.html"></iframe>
  </div>
  <ng-template #notShow>
<!--    <img width="100%" height="256px" src="..\..\assets\THCCBDWallpaper-01.jpg"> -->
    <img width="100%" height="256px" src="http://www.carbongeotech.com/vendmoi/assets/THCCBDWallpaper-01.jpg">
  </ng-template>
  <!--<div width="100%" height="256px"  w3-include-html="../../assets/iframe-ar.html"></div>
-->

  <div style="text-align:center;">
      <ion-button tappable routerLink="/map/" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105)">
          <ion-icon slot="icon-only" name="pin" style="color:rgb(203, 177, 131)"></ion-icon>
          Choose Shopping Locale
        </ion-button>  
  </div>

  <div class="button-bar bar-stable" style="text-align:center; overflow:hidden; overflow-x:auto; width:100%;">
    <ion-row nowrap>
    <div *ngIf="(flowersToggle); else notFlowers">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleFlowers()>Flowers</ion-button>
    </div>
    <ng-template #notFlowers>
        <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleFlowers()>Flowers</ion-button>
    </ng-template> 
     
    <div *ngIf="(ediblesToggle); else notEdibles">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleEdibles()>Edibles</ion-button>
    </div>
    <ng-template #notEdibles>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleEdibles()>Edibles</ion-button>
    </ng-template> 

    <div *ngIf="(extractsToggle); else notExtracts">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleExtracts()>Oils</ion-button>
    </div>
    <ng-template #notExtracts>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleExtracts()>Oils</ion-button>
    </ng-template> 

    <div *ngIf="(accessoriesToggle); else notAccessories">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=toggleAccessories()>Accessories</ion-button>
    </div>
    <ng-template #notAccessories>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=toggleAccessories()>Accessories</ion-button>
    </ng-template> 
  
    <div *ngIf="(pawsToggle); else notPaws">
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:rgb(44, 70, 105);" (click)=togglePaws()>Paws</ion-button>
    </div>
    <ng-template #notPaws>
      <ion-button class="button" style="color:rgb(203, 177, 131); --background:clear;" (click)=togglePaws()>Paws</ion-button>
    </ng-template> 
    </ion-row>
  </div>

  <ion-list-header>
    <ion-label style="font-size:20px">Products</ion-label>
  </ion-list-header>
  <ion-list>
    <div *ngFor="let product of products" detail="true" tappable routerLink="/product-detail/{{ product.id }}">
      <div *ngIf="(((product.type === 'FL') && flowersToggle) || ((product.type === 'ED') && ediblesToggle) ||
                  ((product.type === 'EX') && extractsToggle) || ((product.type === 'AC') && accessoriesToggle) ||
                  ((product.type === 'PA') && pawsToggle))">
        <ion-item class="item item-avatar">
            <!-- <img width="100" height="60" src="..\..\assets\imgs\{{product.img1}}"> -->
            <img width="100" height="60" src="http://www.carbongeotech.com/vendmoi/assets/imgs/{{product.img1}}">
          <h3>{{product.name}}</h3>
          <div *ngIf="(product.type != 'AC')">
            <p>THC {{product.THC}}%</p>
            <p>CBD {{product.CBD}}%</p>
          </div>
          <p>{{product.priceString}}</p>
        </ion-item>
      </div>
    </div>
  </ion-list>

</ion-content>