<ion-header>
  <ion-toolbar style="--background: rgb(44, 70, 105)">

    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="/home" style="color:rgb(203, 177, 131)"></ion-back-button>
      </ion-button>

      <ion-menu-button>
        <ion-button slot="secondary">
          <ion-icon slot="icon-only" name="menu" style="color:rgb(203, 177, 131)"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <!-- <img src="..\..\assets\vm_logo-04.png"> -->
      <img src="http://www.carbongeotech.com/vendmoi/assets/vm_logo-04.png">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button tappable routerLink="/shopping-cart/">
        <ion-badge>{{ qtyItems }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color:rgb(203, 177, 131)"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  Cart Grand Total for {{qtyItems}} Item(s) = {{ totalCost | currency:'USD':'symbol' }} + {{ shipCost | currency:'USD':'symbol' }} = {{ grandTotalCost | currency:'USD':'symbol' }}.

  <div class="shipGroup">
    <ion-list>
      <ion-radio-group [(ngModel)]="shipMethod" (click)=calcShipCost()>
      <ion-list-header>
        <ion-label>Choose Method of Shipping</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Ground  ({{groundShipCost | currency:'USD':'symbol'}})</ion-label>
        <ion-radio value="ground" checked="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>2nd Day  ({{secondShipCost | currency:'USD':'symbol'}})</ion-label>
        <ion-radio value="2ndDay"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Today  ({{todayShipCost | currency:'USD':'symbol'}})</ion-label>
        <ion-radio value="today"></ion-radio> <!-- [disabled]="isDisabled" -->
      </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div class="shipGroup">
    <ion-list>
      <ion-radio-group [(ngModel)]="payMethod" (click)=updatePayMethod()>
      <ion-list-header>
        <ion-label>Choose Method of Payment</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Debit or Credit</ion-label>
        <ion-radio value="card" checked="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Bitcoin</ion-label>
        <ion-radio value="bitcoin"></ion-radio>
      </ion-item>
      </ion-radio-group>
    </ion-list>
    <div *ngIf="(payCard); else payBitcoin">
      <ion-item lines="none">
        <ion-label position="stacked">Card Number</ion-label>
        <ion-input class="input" type="text" placeholder="Card Number"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Expiration</ion-label>
        <ion-input class="input" type="text" placeholder="Expiration"></ion-input>
      </ion-item>
    </div>
      <ng-template #payBitcoin>
        <ion-item lines="none">
          <ion-label position="stacked">Enter Bitcoin Address</ion-label>
          <ion-input class="input" type="text" placeholder="Bitcoin Address"></ion-input>
        </ion-item>
      </ng-template>
    </div>
  
  <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input class="input" type="text" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">Last Name</ion-label>
        <ion-input class="input" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">Address Line 1</ion-label>
        <ion-input class="input" placeholder="Address Line 1"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">Address Line 2 (optional)</ion-label>
        <ion-input class="input" placeholder="Address Line 2"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">City</ion-label>
        <ion-input class="input" placeholder="City"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">State</ion-label>
        <ion-input class="input" placeholder="State"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="label" position="stacked">Zip Code</ion-label>
        <ion-input class="input" placeholder="Zip Code"></ion-input>
      </ion-item>
    </ion-list>
  
  </ion-content>
